#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
   overflow-x: hidden;
}


body{
  background-color: #F9F2F2;
   overflow-x: hidden;
  overflow-y: hidden;
}








